
@{
    ViewData["Title"] = "TrangChu";
}
<div class ="col-7 bg-white" style="height: 400px; margin-left: 300px;">
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active">
      <img src="/Images/cac-loai-giay-vans-2.jpg" class="d-block w-100" alt="..."  style="width: 732px; height: 400px;">
    </div>
  <div class="carousel-item" >
      <img src="/Images/giay-vans-trang-den-06.jpg" class="d-block w-100" alt="..."  style="width: 732px; height: 400px;">
  </div>
    <div class="carousel-item">
      <img src="/Images/anh6.webp" class="d-block w-100" alt="..."  style="width: 732px; height: 400px;">
    </div>
    <div class="carousel-item">
      <img src="/Images/vans-old-skool-trang-soc-do-replica-2.jpg" class="d-block w-100" alt="..."  style="width: 732px; height: 400px;">
    </div>
    <div class="carousel-item">
      <img src="/Images/anh7.jpg" class="d-block w-100" alt="..."  style="width: 732px; height: 400px;">
    </div>
    <div class="carousel-item">
      <img src="/Images/-GIAY-VANS-OLD-SKOOL-VN000VOKDIC1-(1).jpg" class="d-block w-100" alt="..."  style="width: 732px; height: 400px;">
    </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>
 </div>
 <br />
 </div>
 